/* -------------------------------- */
/* Custom properties (vairables)    */
/* -------------------------------- */

:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font sizes - mobile */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem; /* body font */
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* typography */
@media (min-width: 35em) {
    /* tablet */
    :root {
        /* --fs-900: 9.375rem; */ /* clamped above*/
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 47em) {
    /* desktop */
    :root {
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* -------------------------------- */
/* Rest                             */
/* -------------------------------- */

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Rest margins */

body,
h1,h2,h3,h4,h5,p,
figure, picture {
    margin: 0;
}

/* set up the body */

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;

    overflow-x: hidden;
}

/* this reset is only for this site */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* make images easier to work with */

img,
picture {
    max-width: 100%; /* will shrink the img */
    display: block;
}

/* forms elements */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}


/* -------------------------------- */
/* Utility classes                  */
/* -------------------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem); /* 1rem is default */
}

.grid {
    display: grid;
    gap: var(--gap, 1rem); /* 1rem is default */
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em; /* left/right */
    margin-inline: auto;
    max-width: 80rem;
}

/* grid-container */
body {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.grid-container {
    --flow-space: 2rem;
    display: grid;
    place-items: center;
    text-align: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
}

.grid-container p {
    max-width: 45ch;
}

.grid-container--home {
    margin-top: 3rem;
}


/* responsiveness */
@media screen and (min-width: 47em) {
    .grid-container {
        text-align: left;
        gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0,40rem)) minmax(1rem, 1fr);
    }
    .grid-container--home {
        margin-top: 8rem;
        padding-bottom: max(6rem, 10vh);
        place-items: end center;
    }
    .grid-container > *:first-child {
        grid-column: 2;
    }
    .grid-container > *:last-child {
        grid-column: 3;
    }
}


/* screen reading only */
.sr-only {   
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* background colors */

.bg-dark { background-color: hsl(var(--clr-dark));}
.bg-accent { background-color: hsl(var(--clr-light));} /* accent clr is used for highlighted portions of the page */
.bg-white { background-color: hsl(var(--clr-white));}

/* text colors */

.text-dark {color: hsl(var(--clr-dark));}
.text-accent {color: hsl(var(--clr-light));}
.text-white {color: hsl(var(--clr-white));}
.text-faint-white {color: hsl( var(--clr-white) / .5);}
/* typography */

.ff-serif {font-family: var(--ff-serif);}
.ff-sans-cond {font-family: var(--ff-sans-cond);}
.ff-sans-normal {font-family: var(--ff-sans-normal);}


.letter-spacing-1 {letter-spacing: 4.75px;}
.letter-spacing-2 {letter-spacing: 2.7px;}
.letter-spacing-3 {letter-spacing: 2.35px;}

.uppercase {text-transform: uppercase;}

.fs-200 {font-size: var(--fs-200);}
.fs-300 {font-size: var(--fs-300);}
.fs-400 {font-size: var(--fs-400);}
.fs-500 {font-size: var(--fs-500);}
.fs-600 {font-size: var(--fs-600);}
.fs-700 {font-size: var(--fs-700);}
.fs-800 {font-size: var(--fs-800);}
.fs-900 {font-size: var(--fs-900);}


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}


/* common title styles */

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.numbered-title span {
    margin-right: .5em;  
    font-weight: 700;
    color: hsl(var(--clr-white) / .25);
}



/* ------------------- */
/* Compontents 
(larger classes - 
 specifically for site)*/
/* ------------------- */


/* colors */
.color-box {
    padding-top: 3em;
    padding-left: 1em;
    padding-bottom: 1em;
    border: 1px solid hsl(var(--clr-white) / .25);
}

/* typography */
.headings p, .subheadings p {
    margin-top: 1rem;
}


/* intractive elemets */

.explore-btn a {
    position: relative;
    z-index: 1;
    display: inline-grid; /* prevents the button from explanding */
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
}
.explore-btn a::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: hsl(var(--clr-white) / .1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms linear ,transform 750ms ease-in-out;
}

.explore-btn a:hover::before,
.explore-btn a:focus::before {
    opacity: 1;
    transform: scale(1.5);
}




/* primary header */
.primary-nav-header {
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 1.5rem clamp(2.4rem, 6vw, 3.5rem);
    margin-right: 0;
}

.logo img  {
    max-width: unset;
}

/* primary navigation */
.primary-nav {
    --gap: clamp( 2.3rem, 5vw,3rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: hsl(var(--clr-white) / .05);
    backdrop-filter: blur(2rem);
}

.primary-nav  a {
    position: relative;
    color: hsl(var(--clr-white));
    text-decoration: none;
}
.primary-nav strong {
    margin-right: .5rem;
}


/* toggle */
.mobile-nav-toggle {
    display: none;
    cursor: pointer;
}



@media screen and (max-width: 35rem) {
    .primary-nav {
        --gap: 2rem;
        --underline-gap: .5rem;
        padding: 8em clamp(2em, 12vw,7em);
        position: absolute;
        inset: 0 0 0 30vw;
        z-index: 1000;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-nav[data-visible = "true"] {
        transform: translateX(0%);
    }

    
    .primary-nav.underline-indicators > .active *::after {
        transform: scale(0);
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 2rem;
        width: 1.5rem;
        aspect-ratio: 1;
        z-index: 2000;
        border: 0;
        background: transparent;
        background-image: url(Files/shared/icon-hamburger.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .mobile-nav-toggle[aria-expanded = "true"] {
        background-image: url(Files/shared/icon-close.svg);
    }
}

/* nav-links animation */
@keyframes navLinksFadeIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}





.underline-indicators *:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: calc(-1 * var(--underline-gap, 1rem));
    background-color: hsl(var(--clr-white) / 0);
    transform: scale(0);
    transform-origin: left;
    transition: background-color 200ms linear, transform 300ms ease;
}
/* .underline-indicators * a:hover::after,
.underline-indicators * a:focus:after {
    transform: scale(1);
    background-color: hsl(var(--clr-white) / .5);
}  */

.underline-indicators *:not(li):hover::after,
.underline-indicators *:not(li):focus:after {
    transform: scale(1);
    background-color: hsl(var(--clr-white) / .5);
} 


.underline-indicators > .active *::after,
.underline-indicators > [aria-selected="true"]::after {
    transform: scale(1);
    background-color: hsl(var(--clr-white)) !important;
}
.underline-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-white));
}

.tab-list {
    --gap: 2rem;
}
.tab-list button{
    position: relative;
    cursor: pointer;
    border: none;
}

/* dot indicators */
.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: clamp(.31em, 1.5vw, .4em);
    background-color: hsl( var(--clr-white) / .25);
}
 
.dot-indicators > *:hover,
.dot-indicators > *:focus { 
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
}

/* number indicators */
.number-indicators > *{
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: clamp( 1.05rem, 3.25vw,2.145rem);
    aspect-ratio: 1;
    border-radius: 50%;
    color: hsl( var(--clr-white) / 1);
    background-color: transparent;
    border: 1px solid hsl( var(--clr-white) / .5);
    transition: border 250ms linear;
}

.number-indicators > *:hover,
.number-indicators > *:focus { 
    border-color: hsl( var(--clr-white) / 1);
}

.number-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-dark));
    background-color: hsl( var(--clr-white) / 1);
}



/* ------------------- */
/* Page specific       */
/* ------------------- */

body {
    background-size: cover;
    background-position: center;
}


/* home */
.home {
    background-image: url(Files/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
}

@media screen and (min-width: 35rem) {
    
    .home {
        background-image: url(Files/space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg);
    }

    .primary-nav {
        padding-block: var(--underline-gap);
        padding-inline: clamp(3rem, 6vw, 7rem);
    }
}

@media screen and (min-width: 47rem) {
    
    .home {
        background-image: url(Files/space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg);
    }

    .primary-nav {
        margin-block: 2rem;
    }

    /* divider */
    .primary-nav-header::after {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 1px;
        background-color: hsl(var(--clr-white) / .25);
        order: 1;
        margin-right: -2.3rem;
    }

    nav {
        order: 2;
    }
}

/* medium screen */
@media screen and (min-width: 35rem) and (max-width: 46.9rem) {
    .primary-nav a > strong {
        display: none;
    }

    .grid-container--home {
        margin-top: 5rem;
    }
}